body { /**/
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 60px;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #ff6600;
}

.form-group {
    margin-bottom: 25px;
}

.form-check-input {
    margin-right: 0px;
}

.form-control {
    font-size: 16px;
    padding: auto;
    border: 2px solid #894019;
    border-radius: 5px;
    width: calc(100% - 26px);
}

.form-control:focus {
    border-color: #85766c;
    box-shadow: 0 0 10px rgba(255, 102, 0, 0.5);
}

.btn-primary {
    background-color: #b9b9b9;
    color: #ffffff;
    border: none;
    border-radius: 100px;
    padding: 13px 26px;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 140px;
    margin-right: 140px;
}

.btn-primary:hover {
    background-color: #a78879;
}

#additionalFields {
  font-size: 16px;
  padding: auto;
  border-radius: 10px;
 
}
.social-icons {
    display: flex;
    align-content: center;
    align-items: first baseline;
    justify-content: center;
    margin: 15px ;
    padding: 1px;
    height: 30px;
  }
  /*facebbokla ilgili buton değişimlerini */
  .social-icons img {
   align-items:safe;
    vertical-align:sub;
    padding-right: 150px;
    padding-right: initial 00;
  }
  
  .social-icons.google {
    padding: right 150px;
  }
  .facebook {  /*facebook için özellik eklediğimiz dizidir*/
      background-image: linear-gradient(to left, #3b5998, #999c9e, #3b5998);
      width: 340px;
      height: 40px;
      border-radius:100px;
      text-align: center;
  }
  
  .facebook a {
    color: #efefef;
    width: 100%;
    padding: auto;
    margin: 10px;
  }
  .facebook a:hover{
    color: #000901;
  }
    .google {
    background-image: linear-gradient(to left, #215ad5, rgb(29, 215, 66), rgb(191, 207, 16));
      border-radius:100px;
      text-align: center;
      margin: auto;
      padding: auto;
  }
  
  .google a {
  color: #efefef;
    width: 100%;
    padding: auto;
    margin: 10px;
  }
  
  
  .google a:hover {
    color: #8d1f1f;
  }
  .btn {
  display: block;
  width: 100%;
  height: 42px;
  border-radius: 15px;
  margin: -1px;
  font-size: 1rem;
  background-image: linear-gradient(to right, #a98136, #934407, #db4b23);
  color: #f9f9f9;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  background-size: 200%;
  transition: 0.5s;
}


.btn:hover {
  background-position: right;
}
button {
  background-color: #fc9700; /* Düğmenin arka plan rengi */
  color: rgb(198, 178, 178); /* Düğme metni rengi */
  border: none; /* Düğme kenarlık kalınlığı */
  padding: 9px 10px; /* Düğme iç içe boşluk (yükseklik ve genişlik) */
  text-align: center; /* Düğme metni ortalanmış */
  text-decoration: none; /* Metnin altı çizili değil */
font-size: 15px; /* Düğme metni font büyüklüğü */
  cursor: pointer; /* Üzerine geldiğinde imlecin el işareti olması */
  border-radius: 10px; /* Düğme kenar yuvarlaklığı */
  margin: 5px 5px;
  display: flex;
 margin-left:74px;
 
}
/*Login ekranı için özellik ekleme*/

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(188, 138, 22, 0.1);
  margin-top: 50px;
}

form { 
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #b1a3a3;
  border-radius: 4px;
}

label { /*Arka planda bulunan dikdörtgenin özellikleri*/
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

input[type="checkbox"] {
  margin-right:15px;
}

/* Base CSS */
.alignleft {
  float: left;
  margin-right: 15px;
}
.alignright {
  float: right;
  margin-left: 15px;
}
.aligncenter {
  display: block;
  margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
  max-width: 100%;
  height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 15px;
  font-weight: 700;
}
html,
body { height: 100% }

a {
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #333;
}
a:hover { text-decoration: none }
.search-box{margin:80px auto;position:absolute;}
.caption{margin-bottom:50px;}
.loginForm input[type=text], .loginForm input[type=password]{
margin-bottom:10px;
}
.loginForm input[type=submit]{
background:#fb044a;
color:#fff;
font-weight:700;
}
#pswd_info {
background: #dfdfdf none repeat scroll 0 0;
color: #fff;
left: 20px;
position: absolute;
top: 115px;
}
#pswd_info h4{
  background: black none repeat scroll 0 0;
  display: block;
  font-size: 14px;
  letter-spacing: 0;
  padding: 17px 0;
  text-align: center;
  text-transform: uppercase;
}
#pswd_info ul {
  list-style: outside none none;
}
#pswd_info ul li {
 padding: 10px 45px;
}



.valid {
background: rgba(0, 0, 0, 0) url("https://s19.postimg.org/vq43s2wib/valid.png") no-repeat scroll 2px 6px;
color: rgb(35, 136, 35);
line-height: 21px;
padding-left: 22px;
}

.invalid {
background: rgba(209, 12, 12, 0) url("https://s19.postimg.org/olmaj1p8z/invalid.png") no-repeat scroll 2px 6px;
color: rgb(255, 106, 0);
line-height: 21px;
padding-left: 22px;
}


#pswd_info::before {
  background: #dfdfdf none repeat scroll 0 0;
  content: "";
  height: 25px;
  left: -13px;
  margin-top: -12.5px;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 25px;
}
#pswd_info {
  display:none;
}

/* forgorpasswordupdate */
body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

.row {
  margin-top: 50px;
}

.search-box {
  background-color: #c7ad87;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(113, 61, 61, 0.1);
  position: fixed;
  
}

.caption h3 {
  color: #5b3030;
}

.input-group {
  margin-top: 15px;
}

.form-control {
  width: 100%;
  margin-bottom: 20px;
}

/* Buton stil tanımlamaları */
#submit {
  background-color: #c97118;
  color: white;
  cursor: pointer;
}

#submit:hover {
  background-color: #797263;
}

/* Form stilleri */
.form-group {
  margin-bottom: 20px;
}

/* Modal stilleri */
.modal-header {
  background-color: #007bff;
  color: white;
}

/* Link stil */
a {
  color: #1579e4;
}

a:hover {
  text-decoration: underline;
}


/* styles.css */

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(135, 115, 109), 68, 18;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  margin-top: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.btn-primary {
  width: 100%;
}

a {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #365575;
}

a:hover {
  text-decoration: underline;
}

label input[type="checkbox"] {
  margin-left: 5px;
}


.social-icons { /*sosyal medya ikonlarının  özellikleri için kullanılır*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

